<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar categoria</title>
</head>
<body>
    <h1>Editar categoria</h1>
    <form action="/categorias/editar" method="post">

        <label>ID:</label><br>
        <input type="number" name="id" th:value="${categoria.id}" readonly>
        <br><br>

        <label>Nombre:</label><br>
        <input type="text" name="nombre" th:value="${categoria.nombre}" required>
        <br><br>

        <label>Descripción:</label><br>
        <textarea name="descripcion" th:text="${categoria.descripcion}"></textarea>
        <br><br>

        <label>Fecha de creación:</label><br>
        <input type="date" name="fecha_creacion" th:value="${categoria.fecha}" required>
        <br><br>

        <button type="submit">Actualizar</button>
        <button type="button" onclick="window.location.href='/categorias'">Cancelar</button>
    </form><br>
    <a href="/categorias">Volver a la lista</a>
</body>
</html>